@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;

@model Nop.Plugin.Widgets.FloorPack.Domain.FloorPackRecord
<tr>
    <td>
        @Html.NopLabelFor(m => m.M2PerPack)
    </td>
    <td>
        @Html.EditorFor(m => m.M2PerPack)
    </td>
</tr>
